<?xml version = "1.0" encoding = "UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id = "com.rodo.filewrite"
    version = "1.0.0">
    
<name>File write test</name>
<description>File write test.</description>
<author>Rodo</author>

<feature name = "http://api.phonegap.com/1.0/device"/>
<preference name="phonegap-version" value="cli-6.0.0" /> <!-- all: current version of PhoneGap -->
<preference name="android-minSdkVersion" value="10" />
<preference name = "orientation" value = "default"/>
<preference name = "target-device" value = "universal"/>
<preference name = "fullscreen" value = "false"/>
<icon src = "icon.png"/>

<plugin name="cordova-plugin-file" spec="~4.3.3" />
</widget>
